@page
@model MusicLibrary.Pages.Studio.Playlists.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h1>Your Playlists</h1>

<form>
    <div class="container-fluid d-flex justify-content-start p-0 gap-3">
        <input type="text" asp-for="searchString" placeholder="Enter playlist name..." class="input-bg px-2" />
        <button class="btn btn-primary" type="submit"><svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" /></svg></button>
        <a asp-page="Create" class="btn btn-primary ms-auto">Create Playlist</a>
    </div>
</form>

<div class="table-container">
    <table class="table mb-0">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Playlists[0].PlaylistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Playlists[0].SongCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Playlists[0].CreateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Playlists)
            {
                <tr>
                    <td><a asp-page="./Play" asp-route-playlistID="@item.PlaylistID"><img class="logo-svg" src="~/images/play-icon.png" width="18" height="18" /></a></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaylistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        <div class="d-flex">
                            <a asp-page="./Edit" asp-route-id="@item.PlaylistID" class="btn btn-toolbar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                            <a asp-page="./Delete" asp-route-id="@item.PlaylistID"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" /></svg></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>