@page
@model MusicLibrary.Pages.Account.ManageModel
@{
    ViewData["Title"] = "Manage";
}



<h1>User Account Management</h1>

<form>
    <div class="container-fluid d-flex justify-content-start p-0 gap-3">
        <input type="text" asp-for="searchString" placeholder="Search for user name..." class="input-bg px-2" />
        <button class="btn btn-primary" type="submit"><svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" /></svg></button>
    </div>
</form>


<div class="table-container">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].IsArtist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].IsSuspended)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArtist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSuspended)
                    </td>
                    @{ if ((item.UserName == User.Identity.Name)||(item.IsAdmin==true))
                        {
                            <td>

                            </td>
                        }
                        else if (item.IsSuspended)
                        {
                            <td>
                                <form method="post">
                                    <a class="btn btn-success" asp-page="./Unsuspend" asp-route-id="@item.UserID" >Unsuspend</a>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form method="post">
                                    <a class="btn btn-danger" asp-page="./Suspend" asp-route-id="@item.UserID" >Suspend</a>
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>