@page
@model MusicLibrary.Pages.Studio.Songs.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h1>Your Songs</h1>

<form>
    <div class="container-fluid d-flex justify-content-start p-0 gap-3">
        <select asp-for="searchGenre" asp-items="Model.Genres" class="input-bg px-2">
            <option value="">All</option>
        </select>
        <input type="text" asp-for="searchString" placeholder="Enter song name..." class="input-bg px-2" />
        <button class="btn btn-primary" type="submit"><svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" /></svg></button>
        <a asp-page="Upload" class="btn btn-primary ms-auto">Upload Song</a>
    </div>
</form>
<div class="table-container">
    <table class="table mb-0">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].UploadDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Length)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Songs)
            {
                <tr>
                    <td>
                        <a asp-page="./PlaySong" asp-route-id="@item.SongID"><img class="logo-svg" src="~/images/play-icon.png" width="18" height="18" /></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        <div class="d-flex">
                            <a asp-page="./Index" asp-route-LikeSongID="@item.SongID" class=@(Model.liked == true ? "LikeIcon liked" : "LikeIcon")>
                                <svg version="1.1" class="hover-dark" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" x="0px" y="0px"
                                 viewBox="0 0 302.489 302.489" style="enable-background:new 0 0 302.489 302.489;" xml:space="preserve">
                                <path d="M302.351,98.012c-1.116-20.846-9.942-40.422-24.855-55.122c-15.103-14.887-34.811-23.086-55.491-23.086
	c-30.776,0-53.082,24.334-65.065,37.408c-1.85,2.019-4.018,4.384-5.527,5.827c-1.208-1.25-2.845-3.114-4.351-4.828
	c-10.944-12.466-33.72-38.406-66.571-38.406c-20.68,0-40.387,8.199-55.49,23.086C10.087,57.59,1.259,77.165,0.143,98.012
	c-1.111,20.812,4.212,38.921,17.26,58.72c10.324,15.669,37.545,46.266,66.195,74.408c14.757,14.495,28.339,26.779,39.277,35.524
	c17.762,14.2,24.565,16.021,28.506,16.021c3.695,0,10.683-1.657,28.615-15.981c10.913-8.717,24.448-20.982,39.143-35.468
	c28.393-27.99,55.515-58.628,65.956-74.507C293.877,143.372,303.774,124.629,302.351,98.012z" />
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
                                <g>
        </g>
        </svg>
                            </a>
                            <a asp-page="./Edit" asp-route-id="@item.SongID" class="btn btn-toolbar">
                                <svg class="hover-dark" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a><a asp-page="./Delete" asp-route-id="@item.SongID"><svg class="hover-dark" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" /></svg></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    @*const LikeIcon = document.querySelector('.LikeIcon');
    LikeIcon.addEventListener('click', handleLike(e));

    function handleLike(e){
        e.target.classList.toggle('liked');
    }*@
</script>